$color-red: rgb(255, 59, 48);
$color-orange: rgb(255, 149, 0);
$color-yellow: rgb(255, 230, 32);
$color-green: rgb(4, 222, 113);
$color-mint: rgb(102, 212, 207);
$color-teal: rgb(106, 196, 220);
$color-cyan: rgb(90, 200, 250);
$color-blue: rgb(32, 148, 250);
$color-indigo: rgb(120, 122, 255);
$color-purple: rgb(191, 90, 242);
$color-pink: rgb(250, 17, 79);
$color-brown: rgb(172, 142, 104);
$color-gray: rgb(155, 160, 170);
